
body, html, h1, div, p, header {
  background: #fff;
  margin: 0;
  padding: 0;
    font-family: sans-serif;

}

header, h1 {
    width: 100%;
    height: 10vh;
    text-align: center;
    background: #5795ee;
    color: #fff;
}
header h1 {
    padding-top: 3vh;
}

div.main {
    width: 100%;
    height: 90vh;
}

div table {
    padding-top: 15vh;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

div table td {
    width: 200px;
    height: 200px;
    border: 1px solid #5795ee;
    text-align: center;
    font-weight: 300;
    font-size: 64px;
}
div table td img {
    width: 100%;
    height: 100%;
}
.reset {
	display: block;
	width: 200px;
	height: 200px;
	margin-top: -200px;
	margin-left: -280px;
	background-color: #6bb2b8;
	text-align: center;
	border-radius: 30px;
	
}
  

